body {
    background-image: url("bg.jpg");
    background-size: 100vw 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
}

.flag {
    position: absolute;
    left: 0;
    top: 0;

    transform: scale(1);
    transition: transform 0.3s ease;
}

.flag:hover {
    transform: scale(1.2);
}