body {
    background-image: url("bg.jpg");
    background-size: 100vw 100vh;
}

.map-container {
    text-align: center;
}

.map {
    width: 1024px;
    height: 1024px;
}

.flag {
    position: absolute;
    left: 0;
    top: 0;
}